<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_plugin.name %>
</p>

<p>
  <strong>Is activated:</strong>
  <%= @admin_plugin.is_activated %>
</p>

<p>
  <strong>Site:</strong>
  <%= @admin_plugin.site %>
</p>

<%= link_to 'Edit', edit_admin_plugin_path(@admin_plugin) %> |
<%= link_to 'Back', admin_plugins_path %>
