<!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Navigation</li>
                            <li>
                                <a href="<%= superadmin_path %>"><i class="ion-md-speedometer"></i> <span> Tableau de bord </span><span class="menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="<%= superadmin_sites_path %>"><i class="ion-md-browsers"></i> <span> Blogs </span><span class="menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="<%= superadmin_users_path %>"><i class="ion-md-contacts"></i> <span> Utilisateurs </span><span class="menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="<%= superadmin_products_path %>"><i class="ion-md-color-palette"></i> <span> Thèmes </span><span class="menu-arrow"></span></a>
                            </li>
                            <li>
                                <a href="<%= superadmin_sale_path %>"><i class="ion-md-pricetags"></i> <span> Ventes </span><span class="menu-arrow"></span></a>
                            </li>

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->
