<%= render 'admin/dashboard/shared/header' %>
<%= render 'admin/dashboard/shared/sidebar' %>

<div class="content-page">
    <div class="content">
<%= form_tag admin_pay_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Montant: <%= @total %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Polygones"
          data-amount="<%= @total_stripe %>"
          data-currency="Eur"
          data-email="<%= @user.email%>"></script>
<% end %>

</div>
</div>
<%= render 'admin/dashboard/shared/footer' %>
