<%= render 'admin/dashboard/shared/header' %>
<%= render 'admin/dashboard/shared/sidebar' %>
<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      <!-- Nouvelle catégorie -->
      <div class="row">
        <div class="col-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <h4 class="m-b-30 m-t-0 header-title">Merci !</h4> <br/>
							<p>Votre paiement de <strong><%= @total %></strong> euros a bien été enregistré.</p>
							<%= link_to 'Accéder à vos thèmes', admin_templates_path(@site.url), class:"btn btn-primary" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'admin/dashboard/shared/footer' %>
