<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tab.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @tab.order %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @tab.menu %>
</p>

<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
