<body class="zen">
	<%= render 'web/zen/shared/header' %>
	<%= render 'web/zen/shared/image' %>
	<%= render 'web/zen/shared/article' %>
	<%= render 'web/zen/shared/comments' %>
	<%= render 'web/zen/shared/navigation' %>


	<%= render 'web/zen/shared/footer' %>
</body>
