<div class="content-page">
    <div class="content">
        <div class="container-fluid">

          <p id="notice"><%= notice %></p>

<h1>Cart products ici ?</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr><td><h2>ICIIIIIIIIIIIIIIIII</h2></td>
        <td><%= cart_product.product.title %></td>
        <td>(x <%= cart_product.quantity %> )</td>
        <td><%= link_to 'Show', cart_product %></td>
        <td><%= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Confirmer la commande", new_admin_order_path, method: :get, class: "btn btn-primary" %>


<br>

<%= link_to "Retour aux produits", admin_products_path %>

</div> </div> </div>
