<!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Navigation</li>
                            <li>
                                <a href="<%= admin_path @site.url %>"><i class="ion-md-speedometer"></i> <span> Tableau de bord </span> <span class="menu-arrow"></span></a>

                            </li>
                            <li>
                                <a href="<%= admin_articles_path @site.url %>"><i class="ion-md-create"></i> <span> Mes articles </span> <span class="menu-arrow"></span></a>
                            </li>

                            <li>
                                <a href="<%= admin_categories_path @site.url %>"><i class="ion-md-filing"></i> <span> Mes catégories </span> <span class="menu-arrow"></span></a>
                            </li>


                            <li>
                                <a href="<%= admin_menu_path @site.url%>"><i class="ion-ios-browsers"></i> <span> Mon menu </span> <span class="menu-arrow"></span></a>

                            </li>

                            <li>
                                <a href="<%= admin_comments_path @site.url%>"><i class="ion-ios-text"></i> <span> Mes commentaires </span> <span class="menu-arrow"></span></a>

                            </li>

                            <li>
                                <a href="<%= admin_templates_path @site.url%>"><i class="ion-ios-color-palette"></i> <span> Mon thème </span> <span class="menu-arrow"></span></a>

                            </li>

                            <li>
                                <a href="<%= admin_products_path @site.url%>"><i class="ion-ios-pricetags"></i> <span> Boutique de thèmes </span> <span class="menu-arrow"></span></a>

                            </li>

                            <li>
                                <a href="<%= admin_orders_path @site.url%>"><i class="ion-ios-card"></i> <span> Mes commandes </span> <span class="menu-arrow"></span></a>

                            </li>


                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->
